head
{

}

body
{
    background-image: url(img/winter-snow.jpg);

    h1
    {
        color: antiquewhite;
        background-color: darkslategrey;
        text-align: center;
    }

}
.rubrik
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 5px solid black;
}

ul{
    list-style-type: square;
}

.under-rubrik
{
    color: aliceblue;    
    background-color: darkslategray;
    border: 2px solid gray;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
}

.December
{
color: red;
background-color: white;
width: 40%;
}

.Nyårsdagen
{
background-color: cadetblue;
width: 40%;
}

.Kalendar{
    display: flex;
    border: 4px solid black;
    margin-top: 20px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

table
{
border: 2px solid red;
width: 99%;
border-radius: 2px;
margin-left: auto;
margin-right: auto;
margin: 10px;
}

.Dagar
{
font-size: 20px;
background-color: gray;
}

tr
{
    font-size: 20px;
    text-align: center;
    background-color: antiquewhite;
    border: 2px solid red;
}
.Rödagar
{
color: red;
}
#fireworks
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    margin-top: 10px;
}

